(edif fsm
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2018 3 12 17 43 47)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "J-2015.03M-SP1-2, mapper mapact, Build 1659R"))
     )
   )
  (library IGLOO_V2
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property scaling_factors (string "IO_CELL_SCALING"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell OR3 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A + B + C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A + B"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OA1C (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(!A + B) & !C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OA1B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!C & (A + B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR3B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B + C)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR3A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B + C)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property scaling_factors (string "IO_CELL_SCALING"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell DFN1P0 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port D (direction INPUT))
           (port PRE (direction INPUT)
           (property preset (integer 1))
 )
         )
        (property is_ff (integer 1))
       )
    )
    (cell DFN1C0 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT))
         )
        (property is_ff (integer 1))
       )
    )
    (cell CLKBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_type (string "clock"))
      (property pad_cell (string "true"))
      (property scaling_factors (string "IO_CELL_SCALING"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell AOI1B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A & B + !C)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell AOI1 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A & B + C)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell AO1D (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(!A & !B) + C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell AO1A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(!A & B) + C"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
           (port C (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell fsm (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port Crystal (direction INPUT))
           (port nSysReset (direction INPUT))
           (port (array (rename buttons "Buttons[1:2]") 2) (direction INPUT))
           (port WatchRunning (direction OUTPUT))
           (port WatchReset (direction OUTPUT))
         )
         (contents
          (instance Crystal_pad (viewRef prim (cellRef CLKBUF (libraryRef IGLOO_V2)))
          )
          (instance (rename State_RNO_0_0 "State_RNO_0[0]") (viewRef prim (cellRef AOI1 (libraryRef IGLOO_V2)))          )
          (instance (rename State_RNO_0 "State_RNO[0]") (viewRef prim (cellRef NOR3B (libraryRef IGLOO_V2)))          )
          (instance WatchRunning_0_i_a2 (viewRef prim (cellRef OR2 (libraryRef IGLOO_V2)))          )
          (instance (rename State_RNIP3SF_3 "State_RNIP3SF[3]") (viewRef prim (cellRef NOR2B (libraryRef IGLOO_V2)))          )
          (instance (rename State_RNO_4 "State_RNO[4]") (viewRef prim (cellRef OR3 (libraryRef IGLOO_V2)))          )
          (instance (rename State_RNO_1_1 "State_RNO_1[1]") (viewRef prim (cellRef AOI1 (libraryRef IGLOO_V2)))          )
          (instance (rename State_RNO_0_1 "State_RNO_0[1]") (viewRef prim (cellRef NOR2A (libraryRef IGLOO_V2)))          )
          (instance (rename State_RNO_1 "State_RNO[1]") (viewRef prim (cellRef OA1C (libraryRef IGLOO_V2)))          )
          (instance (rename State_RNO_0_2 "State_RNO_0[2]") (viewRef prim (cellRef NOR3A (libraryRef IGLOO_V2)))          )
          (instance (rename State_RNO_0_3 "State_RNO_0[3]") (viewRef prim (cellRef AOI1B (libraryRef IGLOO_V2)))          )
          (instance (rename State_RNO_0_5 "State_RNO_0[5]") (viewRef prim (cellRef OA1B (libraryRef IGLOO_V2)))          )
          (instance (rename State_RNO_2 "State_RNO[2]") (viewRef prim (cellRef AO1A (libraryRef IGLOO_V2)))          )
          (instance (rename State_RNO_3 "State_RNO[3]") (viewRef prim (cellRef AO1D (libraryRef IGLOO_V2)))          )
          (instance (rename State_RNO_5 "State_RNO[5]") (viewRef prim (cellRef OA1B (libraryRef IGLOO_V2)))          )
          (instance (rename State_0 "State[0]") (viewRef prim (cellRef DFN1P0 (libraryRef IGLOO_V2)))
          )
          (instance (rename State_1 "State[1]") (viewRef prim (cellRef DFN1C0 (libraryRef IGLOO_V2)))
          )
          (instance (rename State_2 "State[2]") (viewRef prim (cellRef DFN1C0 (libraryRef IGLOO_V2)))
          )
          (instance (rename State_3 "State[3]") (viewRef prim (cellRef DFN1P0 (libraryRef IGLOO_V2)))
          )
          (instance (rename State_4 "State[4]") (viewRef prim (cellRef DFN1P0 (libraryRef IGLOO_V2)))
          )
          (instance (rename State_5 "State[5]") (viewRef prim (cellRef DFN1C0 (libraryRef IGLOO_V2)))
          )
          (instance WatchReset_pad (viewRef prim (cellRef OUTBUF (libraryRef IGLOO_V2)))
          )
          (instance WatchRunning_pad (viewRef prim (cellRef OUTBUF (libraryRef IGLOO_V2)))
          )
          (instance (rename Buttons_pad_1 "Buttons_pad[1]") (viewRef prim (cellRef INBUF (libraryRef IGLOO_V2)))
          )
          (instance (rename Buttons_pad_2 "Buttons_pad[2]") (viewRef prim (cellRef INBUF (libraryRef IGLOO_V2)))
          )
          (instance nSysReset_pad (viewRef prim (cellRef INBUF (libraryRef IGLOO_V2)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef IGLOO_V2)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef IGLOO_V2)))          )
          (net (rename StateZ0Z_0 "State[0]") (joined
           (portRef Q (instanceRef State_0))
           (portRef B (instanceRef State_RNO_0_1))
          ))
          (net (rename StateZ0Z_1 "State[1]") (joined
           (portRef Q (instanceRef State_1))
           (portRef A (instanceRef State_RNO_0_2))
           (portRef B (instanceRef State_RNO_1))
           (portRef A (instanceRef State_RNO_1_1))
           (portRef A (instanceRef WatchRunning_0_i_a2))
          ))
          (net (rename StateZ0Z_2 "State[2]") (joined
           (portRef Q (instanceRef State_2))
           (portRef B (instanceRef State_RNO_2))
           (portRef A (instanceRef State_RNO_0_3))
           (portRef B (instanceRef WatchRunning_0_i_a2))
          ))
          (net (rename State_ns_2 "State_ns[2]") (joined
           (portRef Y (instanceRef State_RNO_2))
           (portRef D (instanceRef State_2))
          ))
          (net (rename State_RNOZ0Z_1 "State_RNO[1]") (joined
           (portRef Y (instanceRef State_RNO_1))
           (portRef D (instanceRef State_1))
          ))
          (net (rename State_RNOZ0Z_3 "State_RNO[3]") (joined
           (portRef Y (instanceRef State_RNO_3))
           (portRef D (instanceRef State_3))
          ))
          (net (rename State_RNOZ0Z_4 "State_RNO[4]") (joined
           (portRef Y (instanceRef State_RNO_4))
           (portRef D (instanceRef State_4))
          ))
          (net (rename State_RNOZ0Z_5 "State_RNO[5]") (joined
           (portRef Y (instanceRef State_RNO_5))
           (portRef D (instanceRef State_5))
          ))
          (net (rename State_ns_0 "State_ns[0]") (joined
           (portRef Y (instanceRef State_RNO_0))
           (portRef D (instanceRef State_0))
          ))
          (net (rename WatchRunning_0_i_aZ0Z2 "WatchRunning_0_i_a2") (joined
           (portRef Y (instanceRef WatchRunning_0_i_a2))
           (portRef D (instanceRef WatchRunning_pad))
           (portRef C (instanceRef State_RNO_0))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net N_64 (joined
           (portRef Y (instanceRef State_RNO_0_5))
           (portRef C (instanceRef State_RNO_5))
          ))
          (net N_63 (joined
           (portRef Y (instanceRef State_RNO_0_3))
           (portRef C (instanceRef State_RNO_3))
          ))
          (net N_62 (joined
           (portRef Y (instanceRef State_RNO_0_2))
           (portRef C (instanceRef State_RNO_2))
          ))
          (net Crystal_c (joined
           (portRef Y (instanceRef Crystal_pad))
           (portRef CLK (instanceRef State_5))
           (portRef CLK (instanceRef State_4))
           (portRef CLK (instanceRef State_3))
           (portRef CLK (instanceRef State_2))
           (portRef CLK (instanceRef State_1))
           (portRef CLK (instanceRef State_0))
          ))
          (net Crystal (joined
           (portRef Crystal)
           (portRef PAD (instanceRef Crystal_pad))
          ))
          (net nSysReset_c (joined
           (portRef Y (instanceRef nSysReset_pad))
           (portRef CLR (instanceRef State_5))
           (portRef PRE (instanceRef State_4))
           (portRef PRE (instanceRef State_3))
           (portRef CLR (instanceRef State_2))
           (portRef CLR (instanceRef State_1))
           (portRef PRE (instanceRef State_0))
          ))
          (net nSysReset (joined
           (portRef nSysReset)
           (portRef PAD (instanceRef nSysReset_pad))
          ))
          (net (rename Buttons_c_2 "Buttons_c[2]") (joined
           (portRef Y (instanceRef Buttons_pad_2))
           (portRef A (instanceRef State_RNO_5))
           (portRef B (instanceRef State_RNO_3))
           (portRef B (instanceRef State_RNO_0_2))
           (portRef B (instanceRef State_RNO_1_1))
           (portRef A (instanceRef State_RNO_4))
           (portRef B (instanceRef State_RNO_0_0))
          ))
          (net (rename Buttons_2 "Buttons[2]") (joined
           (portRef (member buttons 1))
           (portRef PAD (instanceRef Buttons_pad_2))
          ))
          (net (rename Buttons_c_1 "Buttons_c[1]") (joined
           (portRef Y (instanceRef Buttons_pad_1))
           (portRef B (instanceRef State_RNO_5))
           (portRef A (instanceRef State_RNO_3))
           (portRef A (instanceRef State_RNO_2))
           (portRef A (instanceRef State_RNO_0_5))
           (portRef B (instanceRef State_RNO_0_3))
           (portRef C (instanceRef State_RNO_0_2))
           (portRef C (instanceRef State_RNO_1_1))
           (portRef B (instanceRef State_RNO_4))
           (portRef C (instanceRef State_RNO_0_0))
          ))
          (net (rename Buttons_1 "Buttons[1]") (joined
           (portRef (member buttons 0))
           (portRef PAD (instanceRef Buttons_pad_1))
          ))
          (net WatchRunning (joined
           (portRef PAD (instanceRef WatchRunning_pad))
           (portRef WatchRunning)
          ))
          (net WatchReset_c (joined
           (portRef Q (instanceRef State_5))
           (portRef D (instanceRef WatchReset_pad))
           (portRef C (instanceRef State_RNO_0_5))
           (portRef A (instanceRef State_RNO_0_0))
          ))
          (net WatchReset (joined
           (portRef PAD (instanceRef WatchReset_pad))
           (portRef WatchReset)
          ))
          (net (rename State_i_0_4 "State_i_0[4]") (joined
           (portRef Q (instanceRef State_4))
           (portRef B (instanceRef State_RNO_0_5))
           (portRef A (instanceRef State_RNO_0_1))
           (portRef B (instanceRef State_RNIP3SF_3))
          ))
          (net (rename State_i_0_3 "State_i_0[3]") (joined
           (portRef Q (instanceRef State_3))
           (portRef C (instanceRef State_RNO_0_3))
           (portRef A (instanceRef State_RNIP3SF_3))
          ))
          (net (rename State_ns_i_a2_0_0_1 "State_ns_i_a2_0_0[1]") (joined
           (portRef Y (instanceRef State_RNO_0_1))
           (portRef A (instanceRef State_RNO_1))
          ))
          (net (rename State_ns_i_0_1 "State_ns_i_0[1]") (joined
           (portRef Y (instanceRef State_RNO_1_1))
           (portRef C (instanceRef State_RNO_1))
          ))
          (net N_66 (joined
           (portRef Y (instanceRef State_RNIP3SF_3))
           (portRef C (instanceRef State_RNO_4))
           (portRef A (instanceRef State_RNO_0))
          ))
          (net (rename State_ns_a2_0_0 "State_ns_a2_0[0]") (joined
           (portRef Y (instanceRef State_RNO_0_0))
           (portRef B (instanceRef State_RNO_0))
          ))
         )
        (property orig_inst_of (string "fsm"))
       )
    )
  )
  (design fsm (cellRef fsm (libraryRef work)))
)
