############################################################################
##  File name :       Kontronopsero.ucf
## 
##  Details :     Constraints file
##                    FPGA family:       virtex5
##                    FPGA:              xc5vlx20t-ff323
##                    Speedgrade:        -2
##
##
##  Comment: files used are:
##           - ddr2_sdram.ucf 
##           - xilinx_pci_exp_blk_plus_4_lane_ep_xc5vlx20t-ff323-2.ucf
##           - Vita57_C02_F01.ucf 
############################################################################ 


###############################################################################
# Define Device, Package And Speed Grade
###############################################################################
CONFIG PART = XC5VLX20T-FF323-2;



#################################################################################
# Location Constraints + I/O STANDARDS
# VITA57 names and order
#################################################################################
# GPIO_N0
##########
##NET "GPIO_P0" LOC = V2;
##NET "GPIO_P1" LOC = U5;
##NET "GPIO_P2" LOC = U4;
NET "GPIO_N0" LOC = V3; # LED1
NET "GPIO_N1" LOC = V5; # LED2
##NET "GPIO_N3" LOC = R4;
##
NET "GPIO_N0" IOSTANDARD = "LVTTL";
NET "GPIO_N1" IOSTANDARD = "LVTTL";
##NET "GPIO_N3" IOSTANDARD = "LVTTL";
##NET "GPIO_P0" IOSTANDARD = "LVTTL";
##NET "GPIO_P1" IOSTANDARD = "LVTTL";
##NET "GPIO_P2" IOSTANDARD = "LVTTL";

##########
# DDR2
##########
##NET "ddr2_ba<2>" LOC = V11;
##
##NET "ddr2_ba<2>" IOSTANDARD = SSTL18_II;

##########
# EXTIO
##########
##NET "EXTIO<5>" LOC = C10;
##NET "EXTIO<4>" LOC = B10;
##NET "EXTIO<3>" LOC = A9;
##NET "EXTIO<2>" LOC = C6;
##NET "EXTIO<1>" LOC = B6;
##NET "EXTIO<0>" LOC = B9;
##
##NET "EXTIO<5>" IOSTANDARD = SSTL18_II;
##NET "EXTIO<4>" IOSTANDARD = SSTL18_II;
##NET "EXTIO<3>" IOSTANDARD = SSTL18_II;
##NET "EXTIO<2>" IOSTANDARD = SSTL18_II;
##NET "EXTIO<1>" IOSTANDARD = SSTL18_II;
##NET "EXTIO<0>" IOSTANDARD = SSTL18_II;

##########
# FLASH
##########
##NET "FLASH_RESCUE_CODE_n" LOC = P4;
##NET "SPI_SCLK" LOC = U3;
##NET "SPI_MISO" LOC = R1;
##NET "SPI_MOSI" LOC = T2;
##NET "SPI_CS_n" LOC = R2;
##
##NET "FLASH_RESCUE_CODE_n" IOSTANDARD = "LVTTL";
##NET "SPI_SCLK"            IOSTANDARD = "LVTTL";
##NET "SPI_MISO"            IOSTANDARD = "LVTTL";
##NET "SPI_MOSI"            IOSTANDARD = "LVTTL";
##NET "SPI_CS_n"            IOSTANDARD = "LVTTL";

##########
# VADJ
##########

NET "VADJ_VID<0>" LOC = P2;
NET "VADJ_VID<1>" LOC = P3;
NET "VADJ_VID<2>" LOC = P5;
NET "PWRON_VADJ" LOC = T1;

NET "VADJ_VID<0>" IOSTANDARD = "LVTTL";
NET "VADJ_VID<1>" IOSTANDARD = "LVTTL";
NET "VADJ_VID<2>" IOSTANDARD = "LVTTL";
NET "PWRON_VADJ" IOSTANDARD = "LVTTL";

##########
# CLK
##########
##NET "CLK0_M2C_N" LOC = U9;
##NET "CLK0_M2C_P" LOC = T9;
##NET "CLK0_C2M_N" LOC = R6;
##NET "CLK0_C2M_P" LOC = T6;
##NET "CLK1_C2M_N" LOC = R7;
##NET "CLK1_C2M_P" LOC = T7;
##NET "CLK1_M2C_N" LOC = P7;
##NET "CLK1_M2C_P" LOC = P8;
##NET  "clk200_p"                                  LOC = "N7" ;          #Bank 4
##NET  "clk200_n"                                  LOC = "N6" ;          #Bank 4
##
##NET "CLK0_M2C_P" IOSTANDARD = "LVDS_25";
##NET "CLK0_C2M_P" IOSTANDARD = "LVDS_25";
##NET "CLK0_M2C_N" TNM_NET = CLK0_M2C_N;
##TIMESPEC TS_CLK0_M2C_N = PERIOD "CLK0_M2C_N" 10 ns HIGH 50%;
##NET "CLK0_M2C_P" TNM_NET = CLK0_M2C_P;
##TIMESPEC TS_CLK0_M2C_P = PERIOD "CLK0_M2C_P" 10 ns HIGH 50%;
##NET "CLK1_M2C_N" TNM_NET = CLK1_M2C_N;
##TIMESPEC TS_CLK1_M2C_N = PERIOD "CLK1_M2C_N" 10 ns HIGH 50%;
##NET "CLK1_M2C_P" TNM_NET = CLK1_M2C_P;
##TIMESPEC TS_CLK1_M2C_P = PERIOD "CLK1_M2C_P" 10 ns HIGH 50%;
##NET  "clk200_p"                                 IOSTANDARD = LVPECL_25;
##NET  "clk200_n"                                 IOSTANDARD = LVPECL_25;

#TIMESPEC TS_clk200_n = PERIOD "clk200_n" 10 ns HIGH 50%;
#TIMESPEC TS_clk200_p = PERIOD "clk200_p" 10 ns HIGH 50%;



########
# DDR2
########
##NET  "ddr2_dq[0]"                                LOC = "M10" ;	      #Bank 17
##NET  "ddr2_dq[1]"                                LOC = "T17" ;	      #Bank 17
##NET  "ddr2_dq[2]"                                LOC = "T16" ;	      #Bank 17
##NET  "ddr2_dq[3]"                                LOC = "T12" ;	      #Bank 17
##NET  "ddr2_dq[4]"                                LOC = "R12" ;	      #Bank 17
##NET  "ddr2_dq[5]"                                LOC = "T18" ;	      #Bank 17
##NET  "ddr2_dq[6]"                                LOC = "U18" ;	      #Bank 17
##NET  "ddr2_dq[7]"                                LOC = "T11" ;	      #Bank 17
##NET  "ddr2_a[12]"                                LOC = "V18" ;	      #Bank 17
##NET  "ddr2_a[11]"                                LOC = "V17" ;	      #Bank 17
##NET  "ddr2_a[10]"                                LOC = "R10" ;	      #Bank 17
##NET  "ddr2_a[9]"                                 LOC = "R11" ;	      #Bank 17
##NET  "ddr2_a[8]"                                 LOC = "U11" ;	      #Bank 17
##NET  "ddr2_a[7]"                                 LOC = "R14" ;	      #Bank 17
##NET  "ddr2_a[6]"                                 LOC = "V10" ;	      #Bank 17
##NET  "ddr2_a[5]"                                 LOC = "U10" ;	      #Bank 17
##NET  "ddr2_a[4]"                                 LOC = "U14" ;	      #Bank 17
##NET  "ddr2_a[3]"                                 LOC = "T13" ;	      #Bank 17
##NET  "ddr2_a[2]"                                 LOC = "P12" ;	      #Bank 17
##NET  "ddr2_a[1]"                                 LOC = "P13" ;	      #Bank 17
##NET  "ddr2_a[0]"                                 LOC = "U13" ;	      #Bank 17
##NET  "ddr2_ba[1]"                                LOC = "V13" ;	      #Bank 17
##NET  "ddr2_ba[0]"                                LOC = "V12" ;	      #Bank 17
##NET  "ddr2_ras_n"                                LOC = "A8";         #Bank 1  //  V11" ; #Bank 17
##NET  "ddr2_cas_n"                                LOC = "A7" ;	      
##NET  "ddr2_we_n"                                 LOC = "A6" ;	      #Bank 1
##NET  "ddr2_cs_n"                                 LOC = "E9" ;	      #Bank 1
##NET  "ddr2_odt"                                  LOC = "D8" ;	      #Bank 1
##NET  "ddr2_cke"                                  LOC = "D10" ;	      #Bank 1
##NET  "ddr2_dqs"                                  LOC = "P10" ;	      #Bank 17
##NET  "ddr2_dqs_n"                                LOC = "N10" ;	      #Bank 17
##NET  "ddr2_ck"                                   LOC = "U16" ;	      #Bank 17
##NET  "ddr2_ck_n"                                 LOC = "U15" ;	      #Bank 17
##
##NET  "ddr2_dq[*]"                               IOSTANDARD = SSTL18_II;
##NET  "ddr2_a[*]"                                IOSTANDARD = SSTL18_II;
##NET  "ddr2_ba[*]"                               IOSTANDARD = SSTL18_II;
##NET  "ddr2_ras_n"                               IOSTANDARD = SSTL18_II;
##NET  "ddr2_cas_n"                               IOSTANDARD = SSTL18_II;
##NET  "ddr2_we_n"                                IOSTANDARD = SSTL18_II;
##NET  "ddr2_cs_n"                                IOSTANDARD = SSTL18_II;
##NET  "ddr2_odt"                                 IOSTANDARD = SSTL18_II;
##NET  "ddr2_cke"                                 IOSTANDARD = SSTL18_II;
##NET  "ddr2_dqs"                                 IOSTANDARD = DIFF_SSTL18_II;
##NET  "ddr2_dqs_n"                               IOSTANDARD = DIFF_SSTL18_II;
##NET  "ddr2_ck"                                  IOSTANDARD = DIFF_SSTL18_II;
##NET  "ddr2_ck_n"                                IOSTANDARD = DIFF_SSTL18_II;

########
# Error
########
##NET  "error"                                     LOC = "C7" ;	      #Bank 1
##NET  "error"                                    IOSTANDARD = LVCMOS18;


################
# FMC Connector
################
##NET "LA_P<0>" LOC = N18;
##NET "LA_N<0>" LOC = M18;
##NET "LA_P<1>" LOC = M14;
##NET "LA_N<1>" LOC = L13;
##NET "LA_P<2>" LOC = H13;
##NET "LA_N<2>" LOC = J14;
##NET "LA_P<3>" LOC = H17;
##NET "LA_N<3>" LOC = G18;
##NET "LA_P<4>" LOC = H18;
##NET "LA_N<4>" LOC = J18;
##NET "LA_P<5>" LOC = H15;
##NET "LA_N<5>" LOC = H16;
##NET "LA_P<6>" LOC = J17;
##NET "LA_N<6>" LOC = K17;
##NET "LA_P<7>" LOC = J15;
##NET "LA_N<7>" LOC = K15;
##NET "LA_P<8>" LOC = L14;
##NET "LA_N<8>" LOC = K14;
##NET "LA_P<9>" LOC = L18;
##NET "LA_N<9>" LOC = L17;
##NET "LA_P<10>" LOC = N16;
##NET "LA_N<10>" LOC = M16;
##NET "LA_P<11>" LOC = N15;
##NET "LA_N<11>" LOC = M15;
##NET "LA_P<12>" LOC = N13;
##NET "LA_N<12>" LOC = M13;
##NET "LA_P<13>" LOC = P14;
##NET "LA_N<13>" LOC = P15;
##NET "LA_P<14>" LOC = R15;
##NET "LA_N<14>" LOC = R16;
##NET "LA_P<15>" LOC = P18;
##NET "LA_N<15>" LOC = N17;
##NET "LA_P<16>" LOC = N12;
##NET "LA_N<16>" LOC = M11;
##
##NET "LA_P<17>" LOC = F16;
##NET "LA_N<17>" LOC = G16;
##NET "LA_P<18>" LOC = C15;
##NET "LA_N<18>" LOC = B15;
##NET "LA_P<19>" LOC = A18;
##NET "LA_N<19>" LOC = A17;
##NET "LA_P<20>" LOC = A11;
##NET "LA_N<20>" LOC = A12;
##NET "LA_P<21>" LOC = B11;
##NET "LA_N<21>" LOC = C11;
##NET "LA_P<22>" LOC = B13;
##NET "LA_N<22>" LOC = A13;
##NET "LA_P<23>" LOC = B14;
##NET "LA_N<23>" LOC = A14;
##NET "LA_P<24>" LOC = D13;
##NET "LA_N<24>" LOC = D14;
##NET "LA_P<25>" LOC = E14;
##NET "LA_N<25>" LOC = F14;
##NET "LA_P<26>" LOC = E15;
##NET "LA_N<26>" LOC = D15;
##NET "LA_P<27>" LOC = E17;
##NET "LA_N<27>" LOC = E16;
##NET "LA_P<28>" LOC = F18;
##NET "LA_N<28>" LOC = F17;
##NET "LA_P<29>" LOC = D18;
##NET "LA_N<29>" LOC = D17;
##NET "LA_P<30>" LOC = C18;
##NET "LA_N<30>" LOC = B18;
##NET "LA_P<31>" LOC = G14;
##NET "LA_N<31>" LOC = G15;
##NET "LA_P<32>" LOC = B16;
##NET "LA_N<32>" LOC = A16;
##NET "LA_P<33>" LOC = D12;
##NET "LA_N<33>" LOC = E12;
##
##NET "LA_P<*>" IOSTANDARD = "LVTTL";
##NET "LA_N<*>" IOSTANDARD = "LVTTL";

NET rgmii_port_1_td[0] LOC = "M13" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_1_td[2] LOC = "N12" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_1_td[3] LOC = "M11" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_1_td[1] LOC = "N15" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_1_txc LOC = "M15" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_1_tx_ctl LOC = "P18" | IOSTANDARD = "LVCMOS25";

#mdc puis mdio
#NET LA13_N LOC = "P15" | IOSTANDARD = "LVCMOS25";
#NET LA14_N LOC = "R16" | IOSTANDARD = "LVCMOS25";
NET mdio_io_port_1_mdc LOC = "P15" | IOSTANDARD = "LVCMOS25";
NET mdio_io_port_1_mdio_io LOC = "R16" | IOSTANDARD = "LVCMOS25";

#reset
#NET LA15_N LOC = "N17" | IOSTANDARD = "LVCMOS25";
NET reset_port_1 LOC = "N17" | IOSTANDARD = "LVCMOS25";

##############
# Master clk
##############
##NET "Master_Clock1" LOC = V7;
##NET "Master_Clock1" TNM_NET = CLK_Master1;
##TIMESPEC TS_CLK_Master1 = PERIOD "CLK_Master1" 10 ns HIGH 50%;
##NET "Master_Clock1" CLOCK_DEDICATED_ROUTE = FALSE;



NET "Master_Clock2" LOC = V6;
NET "Master_Clock2" TNM_NET = CLK_Master2;
TIMESPEC TS_CLK_Master2 = PERIOD "CLK_Master2" 10 ns HIGH 50%;

#########
# PEX ??
#########
# # SYS clock 100 MHz (input) signal. The sys_clk_p and sys_clk_n
# # signals are the PCI Express reference clock. Virtex-5 GTP
# # Transceiver architecture requires the use of a dedicated clock
# # resources (FPGA input pins) associated with each GTP Transceiver Tile.
# # To use these pins an IBUFDS primitive (refclk_ibuf) is
# # instantiated in user's design.
# # Please refer to the Virtex-5 GTP Transceiver User Guide
# # (UG196) for guidelines regarding clock resource selection.
# #
# NET  "PEX_clk_p"       LOC = "C3"  ;
# NET  "PEX_clk_n"       LOC = "C4"  ;
# INST "refclk_ibuf"     DIFF_TERM = "TRUE" ;

##NET "AURORA_RXN" LOC = J1;
##NET "AURORA_RXP" LOC = H1;
##NET "AURORA_TXN" LOC = H2;
##NET "AURORA_TXP" LOC = G2;
##NET "GTPD_N" LOC = C4;
##NET "GTPD_P" LOC = C3;
##NET GTPD PERIOD = 10.0 ns HIGH 50%;

###########
#
###########
##NET "phy_init_done"                             LOC = "C8" ;	      #Bank 1
##NET "PRSNT_M2C_L"                               LOC = V8;
##NET "SCL"                                       LOC = U1;
##NET "SDA"                                       LOC = V1;
NET "sys_rst_n"                                 LOC = "D9" ;          #Bank 1
##NET "sys_clk_p"                                 LOC = "R9" ;          #Bank 4
##NET "sys_clk_n"                                 LOC = "P9" ;          #Bank 4
##
##NET "phy_init_done"                            IOSTANDARD = LVCMOS18;
##NET "SDA"                                      IOSTANDARD = "LVTTL";
##NET "SCL"                                      IOSTANDARD = "LVTTL";
NET "sys_rst_n"                                IOSTANDARD = LVCMOS18;
##NET "sys_rst_n" TIG ;
#TIMESPEC TS_sys_clk_n = PERIOD "sys_clk_n" 10 ns HIGH 50%;
#TS_sys_clk_p = PERIOD "sys_clk_p" 10 ns HIGH 50%;

