NET rgmii_port_1_rd[0] LOC = "J17" | IOSTANDARD = "LVCMOS25";
NET mdio_io_port_0_mdio_io LOC = "K17" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_1_rd[2] LOC = "M16" | IOSTANDARD = "LVCMOS25";
NET ref_clk_fsel[0] LOC = "R15" | IOSTANDARD = "LVCMOS25";
NET mdio_io_port_1_mdio_io LOC = "R16" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_3_rxc LOC = "C15" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_3_rx_ctl LOC = "B15" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_3_rd[1] LOC = "E17" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_3_rd[3] LOC = "E16" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_1_rxc LOC = "M14" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_1_rx_ctl LOC = "L13" | IOSTANDARD = "LVCMOS25";
NET mdio_io_port_0_mdc LOC = "H15" | IOSTANDARD = "LVCMOS25";
NET reset_port_0 LOC = "H16" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_1_rd[1] LOC = "L18" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_1_rd[3] LOC = "L17" | IOSTANDARD = "LVCMOS25";
NET ref_clk_oe[0] LOC = "P14" | IOSTANDARD = "LVCMOS25";
NET mdio_io_port_1_mdc LOC = "P15" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_2_rxc LOC = "F16" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_2_rd[2] LOC = "B14" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_2_rd[3] LOC = "A14" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_3_rd[0] LOC = "E15" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_3_rd[2] LOC = "D15" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_0_rxc LOC = "N18" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_0_rx_ctl LOC = "M18" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_0_rd[2] LOC = "H17" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_0_rd[3] LOC = "G18" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_0_td[1] LOC = "L14" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_0_td[2] LOC = "K14" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_1_td[0] LOC = "M13" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_1_td[2] LOC = "N12" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_1_td[3] LOC = "M11" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_2_rx_ctl LOC = "A11" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_2_rd[0] LOC = "A12" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_2_td[1] LOC = "B13" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_2_td[2] LOC = "A13" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_2_tx_ctl LOC = "E14" | IOSTANDARD = "LVCMOS25";
NET mdio_io_port_2_mdio_io LOC = "F14" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_3_td[0] LOC = "D17" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_3_td[2] LOC = "G14" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_3_td[3] LOC = "G15" | IOSTANDARD = "LVCMOS25";
NET ref_clk_p LOC = "T9" | IOSTANDARD = "LVDS_25";
NET ref_clk_n LOC = "U9" | IOSTANDARD = "LVDS_25";
NET rgmii_port_0_rd[0] LOC = "H13" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_0_rd[1] LOC = "J14" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_0_td[0] LOC = "H18" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_0_txc LOC = "J18" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_0_td[3] LOC = "J15" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_0_tx_ctl LOC = "K15" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_1_td[1] LOC = "N15" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_1_txc LOC = "M15" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_1_tx_ctl LOC = "P18" | IOSTANDARD = "LVCMOS25";
NET reset_port_1 LOC = "N17" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_2_rd[1] LOC = "A18" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_2_td[0] LOC = "A17" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_2_txc LOC = "B11" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_2_td[3] LOC = "C11" | IOSTANDARD = "LVCMOS25";
NET mdio_io_port_2_mdc LOC = "D13" | IOSTANDARD = "LVCMOS25";
NET reset_port_2 LOC = "D14" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_3_td[1] LOC = "F18" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_3_txc LOC = "F17" | IOSTANDARD = "LVCMOS25";
NET rgmii_port_3_tx_ctl LOC = "C18" | IOSTANDARD = "LVCMOS25";
NET mdio_io_port_3_mdc LOC = "B18" | IOSTANDARD = "LVCMOS25";
NET mdio_io_port_3_mdio_io LOC = "B16" | IOSTANDARD = "LVCMOS25";
NET reset_port_3 LOC = "A16" | IOSTANDARD = "LVCMOS25";

